<div class="page-header">
    <h4>专家信息</h4>
</div>

<div class="row">
    <div class="col-sm-9">
        <p-wizard [model]="steps" [(activeIndex)]="activeIndex"></p-wizard>
    </div>
</div>

<!-- 邀请码信息 -->
<div class="row" *ngIf="activeIndex==0">
    <main class="col-sm-9">
        <form #invitationForm="ngForm">
            <p-form-field label="邀请码 *">
                <input type="text" [(ngModel)]="invitationCode" name="invitationCode" class="form-control" required>
            </p-form-field>

            <button type="button" class="btn btn-primary" (click)="activeIndex=1"
                    [disabled]="!invitationForm.valid">下一步
            </button>
        </form>
    </main>
</div>

<!-- 专家信息 -->
<div class="row" *ngIf="activeIndex==1">
    <main class="col-sm-9">
        <form #customerForm="ngForm">
            <p-form-field label="姓名 *">
                <input type="text" [(ngModel)]="expert.fullName" name="fullName" class="form-control" required>
            </p-form-field>
            <p-form-field label="头衔 *">
                <input type="text" [(ngModel)]="expert.title" name="title" class="form-control" required>
            </p-form-field>
            <p-form-field label="手机 *">
                <input type="text" [(ngModel)]="expert.mobile" name="mobile" class="form-control" required>
            </p-form-field>
            <p-form-field label="头像 *">
                <p-file-input [(ngModel)]="expert.avatar" name="avatar" [uploadOptions]="api.uploadOptions"></p-file-input>
            </p-form-field>
            <p-form-field label="个人介绍 *">
                <p-editor [(ngModel)]="expert.description" name="description" [uploadHandler]="api.uploadHandler"></p-editor>
            </p-form-field>

            <button type="button" class="btn btn-primary" (click)="activeIndex=2" [disabled]="!customerForm.valid">
                下一步
            </button>
        </form>
    </main>

    <aside class="col-sm-3">
        <h4><i class="fa fa-info-circle"></i> 小提示</h4>
        <p>
            如果您为客人测量,请务必请客人仔细核对所填个人信息, 这将是您的健康档案的一部分
        </p>
    </aside>
</div>


<!-- 验证信息 -->
<div class="row" *ngIf="activeIndex==2">
    <main class="col-sm-9">
        <form #verificationForm="ngForm">
            <p-form-field label="职业证书 *">
                <p-file-input [(ngModel)]="expertVerification.uploadLicense" name="uploadLicense" [uploadOptions]="api.uploadOptions" required></p-file-input>
            </p-form-field>
            <p-form-field label="身份证 *">
                <p-file-input [(ngModel)]="expertVerification.uploadIdCard" name="uploadIdCard" [uploadOptions]="api.uploadOptions" required></p-file-input>
            </p-form-field>
            <p-form-field label="其他证明1 *">
                <p-file-input [(ngModel)]="expertVerification.uploadOther1" name="uploadOther1" [uploadOptions]="api.uploadOptions"></p-file-input>
            </p-form-field>
            <p-form-field label="其他证明2 *">
                <p-file-input [(ngModel)]="expertVerification.uploadOther2" name="uploadOther2" [uploadOptions]="api.uploadOptions"></p-file-input>
            </p-form-field>

            <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="!verificationForm.valid">确认申请</button>
        </form>
    </main>

    <aside class="col-sm-3">
        <h4><i class="fa fa-info-circle"></i> 关于穴位</h4>
        <p>
            测量时,如果您不能很好的找准穴位,请其他有经验人员帮助测量.穴位能量的准确直接决定了判读症状的正确.
        </p>
    </aside>
</div>
