<div class="page-header">
  <h4>店务管理</h4>
  <div class="pull-right">
      <a href uiSref="shop-outline" class="btn btn-default btn-circle" uiSrefActive="btn-primary"><i class="wj-icon wj-shop"></i></a>
      <a href uiSref="shop-stores" class="btn btn-default btn-circle" uiSrefActive="btn-primary"><i class="wj-icon wj-store"></i></a>
      <a href uiSref="shop-employees" class="btn btn-default btn-circle" uiSrefActive="btn-primary"><i class="wj-icon wj-employee"></i></a>
      <a href uiSref="shop-products" class="btn btn-default btn-circle" uiSrefActive="btn-primary"><i class="wj-icon wj-product"></i></a>
      <a href uiSref="shop-customers" class="btn btn-default btn-circle" uiSrefActive="btn-primary"><i class="wj-icon wj-customer"></i></a>
      <a href uiSref="shop-records" class="btn btn-default btn-circle" uiSrefActive="btn-primary"><i class="wj-icon wj-record"></i></a>
      <a href uiSref="shop-records" class="btn btn-default btn-circle" uiSrefActive="btn-primary"><i class="wj-icon wj-health-record"></i></a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="thumbnail">
      <img src="{{shop.brand}}" alt="">
      <div class="caption">
        <h4>{{shop.name}}</h4>
        <p>{{shop.description | excerpt}}</p>
        <p class="text-right">
          <button class="btn btn-primary" role="button" [disabled]="true" *ngIf="shop.verificationInd==='N'">
            审核中..
          </button>
          <button uiSref="shop.edit" class="btn btn-default btn-circle-sm" title="修改" *ngIf="shop.verificationInd==='Y'">
            <i class="fa fa-pencil"></i>
          </button>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="well">

                <i class="fa fa-money"></i> ¥{{shopAccount.balance}}
                <p class="pull-right"><a class="btn btn-danger">充值</a></p>
        </div>
    </div>
</div>
