<div style="background: url(/images/bg.jpg) no-repeat; border-bottom: 1px solid #dcdcdc; box-shadow: 0 3px 4px 0 #dcdcdc;">
  <div style="background-color: #190125; opacity: 0.85">
  <div class="container">
    <div class="row" style=" padding-bottom: 20px">
      <div class="col-sm-6" style="padding-top: 40px; text-align: center;">
        <img src="images/logo-lg.png" style="vertical-align: middle">
        <div style="font-size: 1.4em;color: #CECECE">
          <br>
          只做最专注的灸社区
        </div>
      </div>
      <div class="col-sm-6" style="padding-top: 20px" #sign>


        <login-form (logined)="onLogined()" *ngIf="!sign.showSign"></login-form>

        <form name="signup_form" class="form-horizontal" novalidate *ngIf="sign.showSign">
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <div class="row" style="color: white">
                <div class="col-xs-6">
                  注册账户
                </div>

                <div class="col-xs-6 text-right">
                  <a (click)="activateLogin()" href style="color: white">登录 <i
                          class="glyphicon glyphicon-circle-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="userName" class="col-sm-3 control-label sr-only">用户名 *</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="userName" [(ngModel)]="user.userName" placeholder="用户名 (登录用)"
                     required style="ime-mode: disabled">
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-sm-3 control-label sr-only">Email *</label>
            <div class="col-sm-6">
              <input type="email" class="form-control" id="email" [(ngModel)]="user.email" placeholder="电子邮件" required>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-3 control-label sr-only">密码 *</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="password" [(ngModel)]="user.password" placeholder="密码"
                     required>
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <button type="submit" class="btn btn-default col-xs-12" (click)="signupSubmit()"
                      [disabled]="signup_form.$invalid">注册
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
  </div>
</div>


<div class="container">
  <div class="row text-center">
    <h2></h2>
  </div>

  <div class="row text-center" style="margin-bottom: 50px">
    <div class="col-sm-6">
      <div style="width: 100px;height: 100px;border-radius: 50px;text-align: center;border: solid 1px #e5e5e5;margin: 0 auto 15px;">
        <i class="wj-icon wj-qanda" style="color: #272727; font-size: 48px; line-height: 100px"></i>
      </div>
      <h4>你问我答</h4>
      <span style="color: #5a5a5a;">任何关于灸的疑问，到这里都能得到耐心的解答</span>
    </div>
    <div class="col-sm-6">
      <div style="width: 100px;height: 100px;border-radius: 50px;text-align: center;border: solid 1px #e5e5e5;margin: 0 auto 15px;">
        <i class="wj-icon wj-case" style="color: #272727; font-size: 48px; line-height: 100px"></i>
      </div>
      <h4>案例分享</h4>
      <span style="color: #5a5a5a;">分享你与灸割舍不开的情节，让别人感受你不一样的故事</span>
    </div>
  </div>
  <div class="row text-center" style="padding-bottom: 50px;">
    <div class="col-sm-6">
      <div style="width: 100px;height: 100px;border-radius: 50px;text-align: center;border: solid 1px #e5e5e5;margin: 0 auto 15px;">
        <i class="wj-icon wj-interview" style="color: #272727; font-size: 48px; line-height: 100px"></i>
      </div>
      <h4>嘉宾访谈</h4>
      <span style="color: #5a5a5a;">定期实时联线嘉宾，你的问题总能有大V及时的回答</span>
    </div>
    <div class="col-sm-6">
      <div style="width: 100px;height: 100px;border-radius: 50px;text-align: center;border: solid 1px #e5e5e5;margin: 0 auto 15px;">
        <i class="wj-icon wj-event" style="color: #272727; font-size: 48px; line-height: 100px"></i>
      </div>
      <h4>线下活动</h4>
      <span style="color: #5a5a5a;">讲座、开班、聚会一网打尽，赶紧报名参加、现场签到吧</span>
    </div>
  </div>

</div>

<div style="border-top: outset 1px #e5e5e5; color: #6b6b6b">
  <div class="container">
    <div class="row" style="font-family: 'Arial'; line-height: 1.2em; padding-top: 12px; text-align: center;">
      <div>
        &copy; 2015 问灸吧 · 保留本平台版权所有 · 沪ICP备12049845号-1
      </div>
    </div>
  </div>
</div>
